extends index

block content
  div.container 
    div.content 
      if user.role === 'admin'
        h1.title= `${title} Page` || "welcome adm page"
        div.adminBlock
          div.adminLeftSide
            img.adminPhoto(src=user.image, alt=user.image)
          
          div.adminRightSide
            p.title= `name: ${user.username}`
            p.title= `email: ${user.email}` 
            p.title= `role: ${user.role}`
            br
            p.title description\bio: 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quo sunt, accusamus doloremque maiores, voluptates incidunt itaque nemo nesciunt doloribus sed repellat voluptatem reiciendis libero repellendus ipsam nihil! Ad, mollitia.

      else
        h1.title sorry no access to admin page