
header.header
  div.head
    div.logo
      if user
        a(href='/profile' class=`profile-${user.role}`)
          if user.image
            img.image(src=user.image, alt='profile')

          else 
            img.image(src='images/default.png', alt='default')

        div.userInfo
          span.infoName= `name: ${user.username}`
          span.infoEmail= `email: ${user.email}`
          span.infoRole= `role: ${user.role}`

      else 
        a.profile(href='/')
          img.image(src='images/logo.svg', alt='logo')
        span.name Home

    nav.navbar
      a.link(href="/") Home
      a.link(href="/users") Users
      a.link(href="/about") About
      a.link(href='/profile') Profile
      if user
        a.linkLogout(href='/logout') Logout
      else 
        a.linkLogin(href="/login") Login
